
$color-black: #000;
$color-white: #fff;

$color-gradient-start:  #b2e1ff;
$color-gradient-end:    #66b6fc;

$color-header-background: $color-black;
$color-header-text:       $color-gradient-start;

$color-footer-background: $color-black;
$color-footer-text:       $color-gradient-end;

$font-stylized: marvin-round, sans-serif;
$font-standard: sans-serif;

@import "./components/modal.scss";
@import "./components/history.scss";

// resets
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  font-family: $font-stylized;
  padding: 0 0 0.2em; // centers stylized font
  &:focus {
    outline: 0;
  }
  &:disabled, &[disabled] {
    opacity: 0.5;
  }
}


body {
  overflow: hidden;
  font-family: $font-stylized;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 3em;
  background: $color-black;
  color: $color-gradient-start;
  z-index: 200;
}

.header {
  background-color: $color-header-background;
  color: $color-header-text;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $color-footer-background;
  color: $color-footer-text;
  > div {
    padding: 5px 10px;
    text-align: center;
  }
}

.age, .weight {
  h6 {
    font-size: 0.8em;
  }
  > span {
    display: block;
    margin-top: -0.6em;
    font-size: 1.3em;
    small {
      font-size: 0.8em;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: linear-gradient(to bottom, $color-gradient-start 0%, $color-gradient-end 100%);
}
@media (orientation: landscape) {
  .body {
    flex-direction: row;
  }
}

.last-feed {
  padding: 0 0 0.2em;
  font-size: 1.3em;
  text-align: center;
}

.feed-recorder {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  .areas {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 100%;
    z-index: 1;
    .remaining {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 39%;
      h2 {
        color: $color-gradient-start;
        font-size: 4em;
        line-height: 1em;
        letter-spacing: -7px;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        small {
          margin-left: 5px;
          font-size: 0.7em;
          letter-spacing: -3px;
        }
      }
      h3 {
        margin-top: -1em;
        font-size: 1.7em;
        z-index: -1;
      }
    }
    .input {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 61%;
      font-size: 2.2em;
      line-height: 1em;
      small {
        margin-left: 5px;
        font-size: 0.7em;
        letter-spacing: -3px;
      }
      .time {
        button {
          padding-right: 5px;
          background: none;
          border: none;
          font-size: 1em;
          letter-spacing: -5px;
          &.small {
            font-size: 0.7em;
            letter-spacing: -3px;
          }
        }
      }
      .volume-control {
        width: 100%;
        text-align: center;
        .volume {
          letter-spacing: -5px;
        }
        .slider {
          margin-top: -0.5em;
          input {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            background: linear-gradient(lighten($color-black, 10), $color-black);
            border-radius: 8px;
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              width: 25px;
              height: 25px;
              background: linear-gradient($color-gradient-start, $color-gradient-end);
              border: 2px solid $color-black;
              border-radius: 50%;
              box-shadow: 0 2px 3px rgba(0,0,0,0.5);
              cursor: pointer;
            }
            &::-moz-range-thumb {
              width: 25px;
              height: 25px;
              background: linear-gradient($color-gradient-start, $color-gradient-end);
              border: 2px solid $color-black;
              border-radius: 50%;
              box-shadow: 0 2px 3px rgba(0,0,0,0.5);
              cursor: pointer;
            }
          }
        }
      }
      .button {
        width: 50%;
        button {
          width: 100%;
          background: linear-gradient($color-gradient-start, $color-gradient-end);
          border: 2px solid $color-black;
          border-radius: 5px;
          color: $color-black;
          font-size: 0.75em;
          line-height: 1em;
          box-shadow: 0 2px 3px rgba(0,0,0,0.5);
          cursor: pointer;
        }
      }
    }
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    padding: 0 5%;
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
    .bottle-clipped {
      clip-path: url(#bottle-clip-path);
    }
    .bottle-background {
      fill: url(#bottle-background);
    }
    .bottle-fill {
      fill: url(#bottle-fill);
      opacity: 0.75;
    }
    .bottle-fill-topline {
      fill: #000;
      opacity: 0.1;
    }
  }
}

.options-hour, .options-minute {
  width: 250px;
  button {
    $color: #FFF;
    width: 25%;
    background: linear-gradient(to bottom right, $color, darken($color, 10));
    border: none;
    font-size: 2em;
  }
}
