/*

 SITE

 */

$font-headings: 'Luckiest Guy',Impact,sans-serif;
$font-standard: sans-serif;

$color-gradient-start:  #b2e1ff;
$color-gradient-end:    #66b6fc;

body {
  background: linear-gradient(to bottom, $color-gradient-start 0%, $color-gradient-end 100%);
  color: #000;
  overflow: hidden;
}
#container {
  display: none;
  flex-direction: column;
  height: 100vh;
}

#last-feed {
  padding-top: 5px;
  background: #000;
  color: $color-gradient-start;
  font-family: $font-headings;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

#today {
  position: relative;
  flex-grow: 1;
  svg {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
    .bottle-clipped {
      clip-path: url(#clip-path);
    }
    .bottle-fill-1 {
      fill: #fff8c9;
    }
    .bottle-fill-2 {
      fill: #f5eebc;
    }
    .bottle-background {
      fill: #ffffff;
    }
  }
  #bottle-overflow {
    display: none;
  }
  #stats-today {
    position: relative;
    height: 30%;
    text-align: center;
    width: 100%;
    font-family: $font-headings;
    h1 {
      font-size: 50px;
      margin-bottom: 0;
      line-height: 28px;
      margin-top: 21px;
      white-space: nowrap;
    }
    h2 {
      font-size: 22px;
      text-transform: uppercase;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    #feed-time-area {
      display: flex;
      justify-content: center;
      #input-feed-time {
        width: 120px;
        height: 150px;
      }
    }
    #label-feed-volume {
      text-align: center;
      font-family: $font-headings;
      font-size: 40px;
      font-weight: bold;
      line-height: 30px;
      margin-top: -5px;
    }
    #button-feed-save {
      text-transform: uppercase;
      font-family: $font-headings;
      font-size: 25px;
      line-height: 25px;
      padding: 7px 30px 0px;
      margin: 0px auto;
      display: block;
      margin-top: 5px;
    }
    #input-feed-time {
      width: 0;
      .timepicker-picker {
        margin-top: 90px;
        font-family: $font-headings;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        .separator {
          display: inline;
        }
        button {
          padding: 0px;
          background: none;
          border: none;
          cursor: pointer;
        }
        span, button {
          width: auto;
          height: 30px;
          font-size: 25px;
          line-height: 30px;
          &:hover {
            background: none;
          }
        }
      }
      .timepicker-hours td, .timepicker-minutes td {
        height: 20px;
        line-height: 20px;
        width: 54px;
        background: white;
        font-size: 20px;
        font-family: $font-headings;
        padding: 10px;
        border: 5px solid black;
      }
    }
  }
}

#history {
  display: flex;
  justify-content: space-evenly;
  #input-history-last-month, #input-history-current-month {
    .bootstrap-datetimepicker-widget {
      .picker-switch.accordion-toggle {
        display: none;
      }
      .datepicker {
        .prev, .next, .dow {
          display: none;
        }
        .picker-switch {
          cursor: default;
          &:hover {
            background: none;
          }
        }
        table {
          tr {
            height: 0px;
            line-height: 0px;
          }
          th, td {
            border: none;
            border-radius: 0px;
          }
          .day {
            display: inline-block;
            padding: 0px;
            height: 16px;
            line-height: 16px;
            cursor: default !important;
            box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
            &:hover {
              background: none;
            }
            &.tier1 {
              background-color: #FF0000;
            }
            &.tier2 {
              background-color: #FF3400;
            }
            &.tier3 {
              background-color: #FF6900;
            }
            &.tier4 {
              background-color: #FF9E00;
            }
            &.tier5 {
              background-color: #FFD300;
            }
            &.tier6 {
              background-color: #F7FF00;
            }
            &.tier7 {
              background-color: #C2FF00;
            }
            &.tier8 {
              background-color: #8DFF00;
            }
            &.tier9 {
              background-color: #58FF00;
            }
            &.tier10 {
              background-color: #24FF00;
            }
          }
        }
      }
    }
  }
}

@mixin history-calendar($width) {
  #input-history-last-month, #input-history-current-month {
    width: $width;
    .bootstrap-datetimepicker-widget {
      .datepicker {
        table {
          width: $width;
          .day {
            $cell-width: ($width - 1) / 7;
            width: $cell-width;
            font-size: $cell-width / 3;
          }
        }
      }
    }
  }
}

#history {
  @include history-calendar(162px);
}

#controls {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  background: #000;
  div {
    color: $color-gradient-end;
    font-family: $font-headings;
    font-size: 20px;
    text-align: center;
    h6 {
      margin: 10px 0px 0px;
      font-family: $font-standard;
      font-size: 12px;
      line-height: 5px;
      font-weight: bold;
    }
  }
}

/*
@media (max-width: 500px) {
  #history-area {
    //@include history-calendar(200px);
  }
}
*/