/*
  Menu
  Styling for the menu control.
 */

$hamburger-layer-color: $color-header-text;
$hamburger-active-layer-color: $color-header-background;
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

$menu-width: 350px;

.menu-area {
  position: relative;
  .menu-open-close {
    position: relative;
    z-index: 1000;
    margin-bottom: -5px; // accounts for bottom padding in the hamburger svg
  }
  .menu {
    position: absolute;
    z-index: 999;
    left: 75px;
    top: 0px;
    width: $menu-width;
    height: 100vh;
    box-shadow: -3px 0px 3px rgba(0,0,0,0.25);
    transition: left 0.25s;
    transition-timing-function: ease-out;
    &.open {
      left: #{-$menu-width + 70px};
      transition: left 0.25s;
      transition-timing-function: ease-out;
    }
    .menu-panel-main {
      position: absolute;
      width: $menu-width;
      height: 100vh;
      left: 0px;
      top: 0px;
      overflow-y: auto;
      overflow-x: hidden;
      background: $color-menu-background;
      h1 {
        font-size: 2em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid $color-black;
        li {
          padding: 0px;
          border-top: 1px solid $color-black;
          overflow: hidden;
          &.panel {
            height: auto;
          }
          button {
            padding: 0px 0px 0.1em;
            width: 100%;
            background: none;
            border: none;
            color: $color-menu-buttons-text;
            font-size: 1.3em;
            &:hover {
              color: rgba(0,0,0,0.8);
              background: $color-menu-buttons-background-hover;
            }
          }
        }
      }
    }
    .menu-panel-sub {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: $menu-width;
      height: 100vh;
      left: 0px;
      top: 0px;
      background: $color-menu-background;
      animation: submenu-slide-from-offscreen 0.5s ease;
      h1 {
        font-size: 2em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        .data {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .graph {
          text-align: center;
          background: yellow;
          min-height: 200px;
        }
      }
    }
    .menu-panel-edit-form {
      position: absolute;
      left: 0px;
      top: 0px;
      width: $menu-width;
      height: 100vh;
      z-index: 2;
      background: $color-menu-background;
      transition: left 0.5s;
      transition-timing-function: ease;
      &.closed {
        left: $menu-width;
        transition: left 0.5s;
        transition-timing-function: ease;
      }
      &.open {
        left: 0px;
        transition: left 0.5s;
        transition-timing-function: ease;
      }
      h1 {
        font-size: 2em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      .content {
        .form-fields {
          margin: 0px 15px 5px;
          border: 1px solid $color-black;
          border-radius: 5px;
          overflow: hidden;
          .fields {
            padding: 5px;
            text-align: center;
            input, select {
              border: none;
              font-family: $font-standard;
              font-size: 1.3em;
              &#input-feed-volume {
                width: 80px;
                text-align: right;
              }
              &#select-feed-recipe {
                max-width: #{$menu-width - 50px};
              }
            }
          }
        }
        .save {
          font-size: 1.5em;
        }
      }
    }
  }
}

.menu-feeds {
  .feeds-day-block {
    $border-radius: 5px;
    margin: 0px 15px 5px;
    border: 1px solid $color-black;
    border-radius: $border-radius;
    .feeds-day-block-contents {
      border-radius: $border-radius;
      overflow: hidden;
    }
  }
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 2px;
    color: $color-menu-headings;
    background: $color-gradient-start;
    font-size: 1em;
    text-align: center;
  }
  button {
    margin: 15px;
    background: $color-gradient-start;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-black;
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    &.btn-add {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0px;
      padding: 0px;
      background: none;
      border: 1px solid $color-black;
      border-radius: 10px;
      font-family: $font-standard;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
    &.btn-edit {
      margin: 0px;
      padding: 10px 13px;
      background: none;
      border: none;
      font-family: $font-standard;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      transform: rotate(90deg);
    }
  }
  .content {
    .data {
      .row {
        $font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-standard;
        color: $color-black;
        cursor: pointer;
        &.odd {
          background: lighten($color-gradient-start, 12);
        }
        &.even {
          background: lighten($color-gradient-start, 14);
        }
        .cell-time {
          width: 44%;
          font-size: $font-size;
          text-align: right;
        }
        .cell-volume {
          width: 20%;
          font-size: $font-size;
          text-align: right;
        }
        .cell-unit {
          font-size: $font-size;
          flex-grow: 1;
        }
        strong {
          margin-right: 5px;
          font-weight: 700;
          letter-spacing: -1px;
        }
      }
    }
  }
}

@keyframes submenu-slide-from-offscreen {
  0% {
    left: #{$menu-width + 5px};
  }
  100% {
    left: 0px;
  }
}
