/*
  Menu
  Styling for the menu control.
 */

$hamburger-padding-x: 7px;
$hamburger-padding-y: 0px;
$hamburger-layer-color: $color-header-text;
$hamburger-active-layer-color: $color-header-background;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-types: (arrowalt, squeeze);
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

$menu-width: 350px;

.menu-area {
  position: relative;
  .menu-open-close {
    position: relative;
    z-index: 1000;
    margin-bottom: -5px; // accounts for bottom padding in the hamburger svg
  }
  .menu {
    position: absolute;
    z-index: 999;
    left: 75px;
    top: -9px;
    width: $menu-width;
    height: 100vh;
    box-shadow: -3px 0px 3px rgba(0,0,0,0.25);
    transition: left 0.25s;
    transition-timing-function: ease-out;
    &.open {
      left: #{-$menu-width + 38px};
      transition: left 0.25s;
      transition-timing-function: ease-out;
    }
    .menu-panel-main {
      position: absolute;
      width: $menu-width;
      height: 100vh;
      left: 0px;
      top: 0px;
      overflow-y: auto;
      overflow-x: hidden;
      background: $color-menu-background;
      h1 {
        font-size: 1.5em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid $color-black;
        li {
          padding: 0px;
          border-top: 1px solid $color-black;
          overflow: hidden;
          &.panel {
            height: auto;
          }
          button {
            padding: 0px 0px 0.1em;
            width: 100%;
            background: none;
            border: none;
            color: $color-menu-buttons-text;
            font-size: 1.3em;
            &:hover {
              color: rgba(0,0,0,0.8);
              background: $color-menu-buttons-background-hover;
            }
          }
        }
      }
    }
    .menu-panel-sub {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: $menu-width;
      height: 100vh;
      left: 0px;
      top: 0px;
      background: $color-menu-background;
      animation: submenu-slide-from-offscreen 0.5s ease;
      h1 {
        font-size: 1.5em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        .data {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .graph {
          text-align: center;
          background: yellow;
          min-height: 200px;
        }
      }
    }
    .menu-panel-edit-form {
      position: absolute;
      left: 0px;
      top: 0px;
      width: $menu-width;
      height: 100vh;
      z-index: 2;
      background: $color-menu-background;
      transition: left 0.5s;
      transition-timing-function: ease;
      &.closed {
        left: $menu-width;
        transition: left 0.5s;
        transition-timing-function: ease;
      }
      &.open {
        left: 0px;
        transition: left 0.5s;
        transition-timing-function: ease;
      }
    }
    .panel-form {
      h1 {
        font-size: 2em;
        margin: -2px 0px 0px;
        padding: 0px 0px 2px 20px;
        color: $color-menu-headings;
      }
      .content {
        .form-fields {
          margin: 0px 15px 5px;
          border: 1px solid $color-black;
          border-radius: 5px;
          overflow: hidden;
          p {
            margin: 0px;
            padding: 5px;
            font-family: $font-standard;
            color: $color-black;
          }
          .fields {
            margin: 10px;
            text-align: center;
            color: $color-black;
            input, select, textarea {
              padding: 0.2em 5px;
              width: calc(100% - 15px);
              background: $color-menu-buttons-background-hover;
              border: 1px dashed $color-gradient-end;
              border-radius: 5px;
              font-family: $font-standard;
              font-size: 1.3em;
              &#input-feed-volume {
                width: 80px;
                text-align: right;
              }
              &#select-feed-recipe {
                max-width: #{$menu-width - 50px};
              }
              &#input-weight {
                margin: 0px 5px 0px -30px;
                width: 70px;
                text-align: right;
              }
              &#input-recipe-name {
              }
              &#input-recipe-notes {
                height: 180px;
                font-size: 0.8em;
              }
              &#input-recipe-calories-per-ounce {
                width: 50px;
                margin-right: 5px;
                padding: 0px;
                text-align: right;
                font-size: 2em;
                line-height: 1em;
              }
            }
            &.calorie-options {
              display: flex;
              justify-content: space-between;
              .calorie-option-selection {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 45%;
                border: 1px solid $color-black;
                border-radius: 5px;
                font-size: 0.9em;
                cursor: pointer;
                &:hover {
                  background: $color-menu-buttons-background-hover;
                }
                &.selected {
                  background: $color-gradient-start;
                  &:hover {
                    background: $color-gradient-start;
                  }
                }
                h6 {
                  font-size: 0.9em;
                }
                p {
                  font-size: 0.75em;
                  line-height: 1.2em;
                }
                .calorie-option-selection-fields {
                  display: flex;
                  align-items: center;
                  margin-bottom: 7px;
                  font-size: 0.75em;
                }
              }
              .calorie-option-label-or {
                display: flex;
                align-items: center;
                margin: 5px;
              }
            }
          }
        }
        .activation-control {
          margin: 0px 15px;
          hr {
            margin-top: 5px;
            height: 1px;
            border: none;
            background: $color-black;
          }
          p {
            margin-top: 15px;
            color: $color-black;
            font-family: $font-standard;
            font-size: 0.8em;
          }
          button {
            display: block;
            margin: 0px;
            width: 100%;
            &.deactivate {
              background-color: $color-danger;
            }
            &.activate {
              background-color: $color-success;
            }
          }
        }
        .save {
          font-size: 1.5em;
        }
      }
    }
  }
}

.menu-feeds {
  .feeds-day-block {
    $border-radius: 5px;
    margin: 0px 15px 5px;
    border: 1px solid $color-black;
    border-radius: $border-radius;
    .feeds-day-block-contents {
      border-radius: $border-radius;
      overflow: hidden;
    }
  }
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 2px;
    color: $color-menu-headings;
    background: $color-gradient-start;
    font-size: 1em;
    text-align: center;
  }
  button {
    margin: 15px;
    background: $color-gradient-start;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-black;
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    &.btn-add {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0px;
      padding: 0px;
      background: none;
      border: 1px solid $color-black;
      border-radius: 10px;
      font-family: $font-standard;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
    &.btn-edit {
      margin: 0px;
      padding: 10px 13px;
      background: none;
      border: none;
      font-family: $font-standard;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      transform: rotate(90deg);
    }
  }
  .content {
    .data {
      .row {
        $font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-standard;
        color: $color-black;
        cursor: pointer;
        &.odd {
          background: lighten($color-gradient-start, 12);
        }
        &.even {
          background: lighten($color-gradient-start, 14);
        }
        .cell-time {
          width: 44%;
          font-size: $font-size;
          text-align: right;
        }
        .cell-volume {
          width: 20%;
          font-size: $font-size;
          text-align: right;
        }
        .cell-unit {
          font-size: $font-size;
          flex-grow: 1;
        }
        strong {
          margin-right: 5px;
          font-weight: 700;
          letter-spacing: -1px;
        }
      }
    }
  }
}

.menu-weight {
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 2px;
    color: $color-menu-headings;
    background: $color-gradient-start;
    font-size: 1em;
    text-align: center;
  }
  button {
    margin: 15px;
    background: $color-gradient-start;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-black;
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
  }
}

.menu-recipes {
  .recipes-block {
    $border-radius: 5px;
    margin: 0px 15px 5px;
    border: 1px solid $color-black;
    border-radius: $border-radius;
    .recipes-block-contents {
      border-radius: $border-radius;
      overflow: hidden;
    }
  }
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 2px;
    color: $color-menu-headings;
    background: $color-gradient-start;
    font-size: 1em;
    text-align: center;
  }
  button {
    margin: 15px;
    background: $color-gradient-start;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-black;
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    &.btn-add {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0px;
      padding: 0px;
      background: none;
      border: 1px solid $color-black;
      border-radius: 10px;
      font-family: $font-standard;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }
    &.btn-edit {
      margin: 0px;
      padding: 10px 13px;
      background: none;
      border: none;
      font-family: $font-standard;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      transform: rotate(90deg);
    }
  }
  .content {
    .data {
      .row {
        $font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-standard;
        color: $color-black;
        cursor: pointer;
        &.odd {
          background: lighten($color-gradient-start, 12);
        }
        &.even {
          background: lighten($color-gradient-start, 14);
        }
        .cell-name {
          margin: 0.5em 0 0.5em 5px;
          width: 52%;
          font-size: $font-size;
          line-height: $font-size;
          text-align: left;
        }
        .cell-last-used {
          width: 30%;
          font-size: $font-size;
          text-align: center;
          h6 {
            font-size: 0.75em;
          }
        }
        strong {
          font-weight: 700;
        }
      }
    }
  }
}


@keyframes submenu-slide-from-offscreen {
  0% {
    left: #{$menu-width + 5px};
  }
  100% {
    left: 0px;
  }
}
